
/nlp.sublime-project

/nlp.sublime-workspace

/Assignment1/dataset

/bin/

/include/

/lib/

/man/

/pip-selfcheck.json

/Assignment1.1/2017MCS2074.model
/Assignment1.1/dataset/

/Assignment1.1/models/

/Assignment1/1.1/2017MCS2074.model

/.gitignore

/Assignment1/1.1/models/

/Assignment1/1.2/models/

/Assignment1/1.2/dev_data.doc2vec

/Assignment1/1.2/word2idx

/Assignment2/unlabelled_data.tar.gz

/Assignment2/train.txt
